// TOOLS

/* imports */
@import url('https://fonts.googleapis.com/css?family=Rufina|Sintony:400,700');
@import url('../../bower_components/normalize-css/normalize.css');
@import "bourbon/bourbon";

/* variables */
$rufina: Rufina, times;
$sintony: Sintony, sans-serif;
$red: #9d1c12;

/* base styles*/
html,body{
  background: #000;
  width: 100%;
  overflow-x: hidden;
}

// HEADER + SPLASH PAGE
.header{
  background: url('../images/background.gif') no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  color: $red;
  h1{
    font-family: $rufina;
    font-size: 5em;
    font-weight: 700;
    letter-spacing: 15px;
    margin: 0;
    text-transform: uppercase;
  }
  h2{
    font-family: $sintony;
    font-size: 3em;
    margin-top: 2px;
    font-weight: 700;
  }
  button{
    background-color: rgba(157, 28, 18, 0.7);
    border: none;
    font-family: $sintony;
    font-size: 1.2em;
    padding: 11px 15px;
    border-radius: 20px;
    color: #f8f8f8;
    margin-top: 150px;
    @include transition(0.2s all ease-in-out);
    &:hover{
      cursor: pointer;
      background-color: rgba(157, 28, 18, 0.9);
    }
  }
}

// PAGE ETAPE
  main{
    .mySection{
      width: 100vw;
      height: 100vh;
    }
    .mySection:nth-child(even){
      background: #f77363;
    }
    .mySection:nth-child(odd){
      background: #428598;
      h1, h2, h3{
        color: #0c3c4a !important;
      }
      button{
        background: #0c3c4a !important;
      }
    }
    #section-1{
      @include transition(all 0.2s ease-in-out);
      button{
        &:hover{
          #section-1{
            background: url('../images/bg_asia.jpg');
            background-size: cover;
          }
        }
      }

    }
    nav{
      position: absolute;
      width: 98%;
      display: flex;
      align-items :center;
      justify-content : space-between;
      font-family: $sintony;
      color: #f8f8f8;
      margin: 0 auto;
      padding-top: 15px;
      h3{
        color: #f8f8f8;
        opacity: 0;
      }
      button{
        border-radius: 0px;
        background: none;
        border: 2px solid #f8f8f8;
        color: #f8f8f8;
        font-family: $sintony;
        padding: 10px 15px;
        margin: 0;
        &:before {
          content: "|||";
          display: inline-block;
          @include transform(rotate(90deg));
          margin-right: 10px;
        }
      }
    }
    div.content{
      display: flex;
      flex-direction : column;
      align-items :center;
      justify-content : center;
      height: 89.63%;
      h2{
          font-family: $sintony;
          font-weight: 700;
          color: $red;
          text-transform: uppercase;
          font-size: 2em;
          margin: 0 0 -15px;
        }
        h1{
          font-family: $rufina;
          font-weight: 700;
          color: $red;
          font-size: 10em;
          margin: 0;
        }
        h3{
          font-family: $sintony;
          font-weight: 400;
          color: $red;
          margin: -25px 0 0;
        }
        button{
          background: $red;
          font-family: $sintony;
          color: #f8f8f8;
          padding: 10px 20px;
          border: none;
          border-radius: 25px;
          margin: 25px 0 0;
          @include transition(0.3s all ease-in-out);
          &:hover{
            @include transform(scale(1.1));
            cursor: pointer;
          }
        }
    }


    ul.route{
      position: absolute;
      right: 32px;
      top: 135vh;
      li{
        list-style-type: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #000;
        margin: 30px 0;
        text-align: right;
        @include transition(0.3s all ease-in-out);
        p{
          right: 30px;
          margin-top: -4px;
          font-family: Sintony, sans-serif;
          color: #aeaeae;
          font-size: 0.8em;
          position: absolute;
          display: inline-block;
          @include transition(0.3s all ease-in-out);
        }
        &:before{
          content: "";
          width: 2px;
          height: 30px;
          background: #000;
          position: absolute;
          left: 45px;
          margin-top: 11px;
          @include transition(0.3s all ease-in-out);
        }
        &:hover{
          cursor: pointer;
          background: #fff;
          border: 1px solid #fff;
          p{
            color: #efefef;
          }
        }
      }
      li:last-child{
        &:before{
          opacity: 0;
        }
      }
      li.active{
        border-color: #fff;
        width:16px;
        height:16px;
        margin-left: -3px;
        p{
          margin-top: -1px;
          color: #fff;
          font-weight: 700;
        }
        &:before{
          margin-top: 18px;
        }
        &:hover{
          cursor: pointer !important;
          background: #f77363;
          border-color: #fff;
        }
      }
    }
  }

// PAGE SOUS CATEGORIE
.etape{
  background: #f7aa66 !important;
  width: 100vw;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  .titles{
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    color: $red;
    .number{
      font-family: $rufina;
      font-size: 24em;
      font-weight: 700;
      margin-top: -35px;
    }
    .text{
      display: flex;
      flex-direction: column;
      h1{
        font-family: $rufina;
        font-size: 10em;
        font-weight: 700;
        margin: 0;
      }
      h2{
        display: inline-block;
        width: 940px;
        font-family: $sintony;
        font-size: 1em;
        font-weight: 400;
      }
    }
  }
  .cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    margin-bottom: 35px;
    .road-card, .culture-card, .travel-card{
      width: 406px;
      height: 270px;
      text-align: center;
      .card-title{
        padding: 8px 0;
        display: inline-block;
        font-family: Sintony, sans-serif;
        font-size: 1.3em;
        color: #f8f8f8;
        width: 100%;
        margin-top: 190px;
      }
    }
    .travel-card{
      background: url('../images/travel-bg.jpg') no-repeat;
      background-size: cover;
      margin-left: 10px;
      .card-title{
          background-color: rgba(12, 60, 74, 0.7);
      }
    }
    .culture-card{
      background: url('../images/culture-bg.jpg') no-repeat;
      background-size: cover;
      margin-left: 5px;
      margin-right: 5px;
      @include transition(0.3s all ease-in-out);
      &:hover{
        @include transform(scale(1.1));
      }
      .card-title{
          background-color: rgba(14, 87, 37,0.7);
      }
    }
    .road-card{
      background: url('../images/road-bg.jpg') no-repeat;
      background-size: cover;
      margin-right: 10px;
      .card-title{
          background-color: rgba(157, 28, 18, 0.7);
      }
    }
  }
  .back{
      position: absolute;
      top: 35px;
      right: 50px;
      font-family: $sintony;
      font-size: 1em;
      font-weight: 400;
      border: 2px solid #f8f8f8;
      padding: 10px 25px;
      border-radius: 20px;
      color: #f8f8f8;
      @include transition(0.3s all ease-in-out);
      &:hover{
        cursor: pointer;
        background-color: #f8f8f8;
        color: #f7aa66;
      }
      &:before{
        content: "";
        display: inline-block;
        width: 55px;
        height: 47px;
        background: url(../images/left-arrow-white.svg) no-repeat;
        background-size: cover;
        position: absolute;
        margin-top: -15px;
        margin-left: -70px;
        @include transform(scale(0.6));
      }
  }
  .border-top{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    background: $red;
    height: 15px;
  }
}
.article{
  height: inherit;
  display: flex;
  flex-direction: column;
  background-color: #f7aa66 !important;
  align-items: center;
  .header-article{
    padding: 70px 70px 35px 70px;
    .back-button{
      display: inline-flex;
      flex-direction: row;
      @include transition(all 0.3s ease-in-out);
      border-radius: 50px;
      border: 1px solid transparent;
      padding: 0 15px 0 5px;
      &:hover{
        cursor: pointer;
        border-color: $red;
      }
      h2{
        font-family: $sintony;
        font-size: 1.2em;
        color: $red;
        font-weight: 700;

      }
      div{
        width: 60px;
        height: auto;
        background: url(../images/left-arrow.svg) no-repeat;
        background-size: cover;
        @include transform(scale(0.6));
      }
    }
    h1{
      font-family: $rufina;
      font-size: 3em;
      color: $red;
      margin: 0;
      font-weight: 700;
    }
    .infos{
      ul{
        display: flex;
        flex-direction: row;
        padding: 0;
        li{
          list-style-type: none;
          margin-right: 35px;
          display:flex;
          flex-direction: row;
          .icon{
            width: 25px;
            height: 30px;
          }
          .time{
            background: url(../images/wait.svg);
            background-size: cover;
          }
          .location{
            background: url(../images/location-icon.png) no-repeat;
            background-size: contain;
          }
          h1{
            padding: 10px 0 0 10px;
            font-family: $sintony;
            font-size: 1em;
            font-weight: 400;
          }
        }
      }
    }
  }
  .main-article{
    font-family: $sintony;
    padding: 0 70px 70px 70px;
    .section-1{
      width: 50%;
    }
    .article-section{
      h1{
        font-family: $rufina;
        font-size: 2em;
        color: $red;
        font-weight: 700;
      }
      p{
        font-size: 1em;
        font-weight: 400;
        color: #000;
        line-height:36px;
      }
    }
    h4{
      font-size: 1em;
      color: #000;
      font-weight: 700;
    }
    .section-2{
      .img-text{
        display: flex;
        flex-direction: row;
      }
      .img-article{
        width: 100%;
        height: auto;
        background: url(../images/img-article.jpg);
        background-size: cover;
        margin-right: 25px;
      }
      p:nth-child(1){
        margin:0;
      }
    }
  }
  .footer-article{
    background: url(../images/bg-footer-article.jpg) no-repeat;
    background-size: cover;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    &:hover{
      cursor: pointer;
      h2, h1{
        @include transform(translateX(-15px));
      }
    }
    h2{
      font-family: $sintony;
      font-size: 1.5em;
      font-weight: 400;
      color: #fff;
      @include transition(0.2s all ease-in-out);
    }
    h1{
      margin: 0;
      font-family: $rufina;
      font-weight: 700;
      font-size: 4.5em;
      color: #fff;
      @include transition(0.2s all ease-in-out);
    }
  }
}
