// TOOLS

/* imports */
@import url('https://fonts.googleapis.com/css?family=Rufina|Sintony:400,700');
@import url('../../bower_components/normalize-css/normalize.css');
@import "bourbon/bourbon";

/* variables */
$rufina: Rufina, times;
$sintony: Sintony, sans-serif;
$red: #9d1c12;

/* base styles*/
html,body{
  background: #000;
  width: 100%;
  overflow-x: hidden;
}

// HEADER + SPLASH PAGE
header{
  background: url('../images/background.gif') no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  color: $red;
  h1{
    font-family: $rufina;
    font-size: 8em;
    font-weight: 700;
    letter-spacing: 15px;
    margin: 0;
    text-transform: uppercase;
  }
  h2{
    font-family: $sintony;
    font-size: 3em;
    margin-top: 2px;
    font-weight: 700;
  }
  button{
    background-color: rgba(157, 28, 18, 0.7);
    border: none;
    font-family: $sintony;
    font-size: 1.2em;
    padding: 11px 15px;
    border-radius: 20px;
    color: #f8f8f8;
    margin-top: 150px;
    @include transition(0.2s all ease-in-out);
    &:hover{
      cursor: pointer;
      background-color: rgba(157, 28, 18, 0.9);
    }
  }
}

// PAGE ETAPE
  main{
    width: 100vw;
    height: 100vh;
    background: #f77363;
    nav{
      display: flex;
      align-items :center;
      justify-content : space-between;
      width: 95%;
      font-family: $sintony;
      color: #f8f8f8;
      margin: 0 auto;
      padding-top: 15px;
      h3{
        color: #f8f8f8;
        opacity: 0;
      }
      button{
        border-radius: 0px;
        background: none;
        border: 2px solid #f8f8f8;
        color: #f8f8f8;
        font-family: $sintony;
        padding: 10px 15px;
        margin: 0;
        &:before {
          content: "|||";
          display: inline-block;
          @include transform(rotate(90deg));
          margin-right: 10px;
        }
      }
    }
    div.content{
      display: flex;
      flex-direction : column;
      align-items :center;
      justify-content : center;
      height: 89.63%;
      h2{
          font-family: $sintony;
          font-weight: 700;
          color: $red;
          text-transform: uppercase;
          font-size: 2em;
          margin: 0 785px -15px 0;
        }
        h1{
          font-family: $rufina;
          font-weight: 700;
          color: $red;
          font-size: 10em;
          margin: 0;
        }
        h3{
          font-family: $sintony;
          font-weight: 400;
          color: $red;
          margin: -25px 480px 0 0;
        }
        button{
          background: $red;
          font-family: $sintony;
          color: #f8f8f8;
          padding: 10px 20px;
          border: none;
          border-radius: 25px;
          margin: 25px 719px 0 0;
        }
    }


    ul.route{
      position: absolute;
      right: 32px;
      top:140%;
      li{
        list-style-type: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #000;
        margin: 30px 0;
        background: #f77363;
        text-align: right;
        p{
          right: 30px;
          margin-top: -4px;
          font-family: Sintony, sans-serif;
          color: #aeaeae;
          font-size: 0.8em;
          position: absolute;
          display: inline-block;
        }
        &:before{
          content: "";
          width: 2px;
          height: 30px;
          background: #000;
          position: absolute;
          left: 45px;
          margin-top: 11px;
        }
        &:hover{
          cursor: pointer;
          background: #fff;
          border: 1px solid #fff;
          p{
            color: #efefef;
          }
        }
      }
      li:last-child{
        &:before{
          opacity: 0;
        }
      }
      li.active{
        border-color: #fff;
        width:16px;
        height:16px;
        margin-left: -3px;
        p{
          margin-top: -1px;
          color: #fff;
          font-weight: 700;
        }
        &:before{
          margin-top: 18px;
        }
        &:hover{
          cursor: pointer !important;
          background: #f77363;
          border-color: #fff;
        }
      }
    }
  }
