// TOOLS

/* imports */
@import url('https://fonts.googleapis.com/css?family=Rufina|Sintony:400,700');
@import url('../../bower_components/normalize-css/normalize.css');
@import "bourbon/bourbon";

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

/* variables */
$rufina: Rufina, times;
$sintony: Sintony, sans-serif;
$red: #9d1c12;

/* base styles*/
html,body{
  background: #f77363;
  width: 100%;
  overflow-x: hidden;
}

// HEADER + SPLASH PAGE
.header{
  @media (max-width: 645px){
    h1{
      font-size: 9em !important;
    }
    h2{
      font-size: 1.5em !important;
      margin-top: -20px !important;
    }
  }
  @media (max-width: 380px){
    h1{
      font-size: 7em !important;
    }
    h2{
      font-size: 1.2em !important;
      margin-top: -15px !important;
    }
  }
  background: url('../images/background2.gif') no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  color: $red;
  h1{
    font-family: $rufina;
    font-size: 15em;
    font-weight: 700;
    letter-spacing: 25px;
    margin: 0;
  }
  h2{
    font-family: $sintony;
    font-size: 2.4em;
    margin-top: -40px;
    font-weight: 700;
  }
  button{
    background-color: rgba(157, 28, 18, 0.7);
    border: none;
    font-family: $sintony;
    font-size: 1.2em;
    padding: 11px 15px;
    border-radius: 20px;
    color: #f8f8f8;
    margin-top: 150px;
    @include transition(0.2s all ease-in-out);
    &:hover{
      cursor: pointer;
      background-color: rgba(157, 28, 18, 0.9);
    }
  }
}

// PAGE ETAPE
  main{
    .journal{
      display: none;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      position: fixed;
      z-index: 99;
      width: 100vw;
      height: 100vh;
      background: rgba(157, 28, 18,0.9);
      h1{
        font-family: $rufina;
        font-size: 2.5em;
        color: #f8f8f8;
        margin-top: 110px;
      }
      .back{
        position: absolute;
        top: 35px;
        right: 50px;
        font-family: $sintony;
        font-size: 1em;
        font-weight: 400;
        padding: 10px 25px;
        color: #f8f8f8;
        @include transition(0.3s all ease-in-out);
        &:hover{
          cursor: pointer;
          @include transform(translateX(-10px));
        }
        &:before{
          content: "";
          display: inline-block;
          width: 55px;
          height: 47px;
          background: url(../images/left-arrow-white.svg) no-repeat;
          background-size: cover;
          position: absolute;
          margin-top: -16px;
          margin-left: -55px;
          @include transform(scale(0.6));
        }
      }
      p{
        max-width: 460px;
        font-family: $sintony;
        font-size: 1.1em;
        color: #f8f8f8;
        line-height: 35px;
      }
      .route-journal{
        display: none;
        p{
          color: #f8f8f8;
          @include transition(0.3s all ease-in-out);
          &:after{
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #f8f8f8;
            margin-left: 25px;
            @include transition(0.3s all ease-in-out);
          }
          &:hover{
            @include transform(scale(1.2));
            &:after{
              cursor: pointer;
              @include transform(scale(1.2));
            }
          }
        }
        p:nth-child(1){
          position: absolute;
          left: 480px;
          top: 567px;
        }
        p:nth-child(2){
          position: absolute;
          left: 645px;
          top: 645px;
        }
        p:nth-child(3){
          position: absolute;
          left: 1005px;
          top: 755px;
        }
        p:nth-child(4){
          position: absolute;
          left: 1210px;
          top: 738px;
        }
        p:nth-child(5){
          position: absolute;
          left: 1413px;
          top: 700px;
        }
        p:nth-child(6){
          position: absolute;
          left: 1785px;
          top: 621px;
        }
      }

    }
    .mySection{
      width: 100vw;
      height: 100vh;
      background: #f77363;
    }
    // .mySection:nth-child(even){
    //   background: #f77363;
    // }
    // .mySection:nth-child(odd){
    //   background: #428598;
    //   h1, h2, h3{
    //     color: #0c3c4a !important;
    //   }
    //   button{
    //     background: #0c3c4a !important;
    //   }
    // }

    @keyframes toggleOpacityAnimation {
      from {opacity: 0;}
      to{opacity: 1;}
    }
    .toggleOpacity{
      @include animation(toggleOpacityAnimation 1.2s cubic-bezier(0.19, 1, 0.22, 1));
      @include animation-delay(0.7s);
      @include animation-fill-mode(forwards);
      // keep opacity value active after the end of the animation
      // opacity: 1 !important;
    }

    .elements-section{
        opacity: 0;
    }
    @keyframes rightAnimeAnimation {
      from {
        @include transform(translateX(650px));
      }
      to {
        @include transform(translateX(0));
      }
    }
    .toggleRightAnime{
      @include animation(rightAnimeAnimation 1.2s cubic-bezier(0.19, 1, 0.22, 1), toggleOpacityAnimation);
      @include animation-delay(0.3s);
      display: inline-block;
    }

    @keyframes leftAnimeAnimation {
      from {
        @include transform(translateX(-450px));
      }
      to {
        @include transform(translateX(0));
      }
    }
    .toggleLeftAnime{
      @include animation(leftAnimeAnimation 1.2s cubic-bezier(0.19, 1, 0.22, 1));
      @include animation-delay(0.3s);
    }
    nav{
      opacity: 0;
      position: fixed;
      z-index: 1;
      right: 20px;
      display: flex;
      align-items :center;
      justify-content : space-between;
      font-family: $sintony;
      color: #f8f8f8;
      margin: 0 auto;
      padding-top: 15px;
      h3{
        color: #f8f8f8;
        opacity: 0;
      }
      button{
        border-radius: 0px;
        background: none;
        border: none;
        color: #f8f8f8;
        font-family: $sintony;
        padding: 10px 15px;
        margin: 0;
        @include transition(0.3s all ease-in-out);
        &:hover{
          cursor: pointer;
          @include transform(translateX(-10px));
        }
        &:before{
          content: "";
          display: inline-block;
          width: 55px;
          height: 49px;
          background: url(../images/map-route.svg) no-repeat;
          background-size: cover;
          position: absolute;
          margin-top: -16px;
          margin-left: -55px;
          @include transform(scale(0.7));
        }
      }
    }
    div.content{
      @media (max-width: 840px){
          h2{
            font-size: 1.3em !important;
          }
          h1{
            font-size: 3.9em !important;
            margin-top: 10px !important;
          }
          h3{
            font-size: 0.9em !important;
            margin: 5px 0 0 !important;
          }
      }
      display: flex;
      flex-direction : column;
      align-items :center;
      justify-content : center;
      height: 89.63%;
      h2{
          font-family: $sintony;
          font-weight: 700;
          color: $red;
          text-transform: uppercase;
          font-size: 2em;
          margin: 0 0 -15px;
        }
        h1{
          font-family: $rufina;
          font-weight: 700;
          color: $red;
          font-size: 10em;
          margin: 0;
        }
        h3{
          font-family: $sintony;
          font-weight: 400;
          color: $red;
          margin: -25px 0 0;
        }
        button{
          background: $red;
          font-family: $sintony;
          color: #f8f8f8;
          padding: 10px 20px;
          border: none;
          border-radius: 25px;
          margin: 25px 0 0;
          @include transition(0.3s all ease-in-out);
          &:hover{
            @include transform(scale(1.1));
            cursor: pointer;
          }
        }
    }

    ul.route{
      @media (max-width: 1040px){
          display: flex;
          flex-direction: row;
          top: 80vh !important;
          left: 21% !important;
          width: 95vw !important;
          padding: 0 !important;
          li{
            margin-right: 13px !important;
            margin: 0 13px !important;
            &:before{
              width: 27px !important;
              height: 2px !important;
              left: inherit !important;
              top: -6px !important;
            }
          }
          li.active{
            margin-top: -3px !important;
            &:before{
              margin-top: 11px !important;
            }
          }
          p{
            margin-top: -30px !important;
            margin-left: -36px !important;
            right: inherit !important;
            opacity: 0;
            font-size: 0.4em;
          }
      }
      opacity: 0;
      position: fixed;
      right: 32px;
      top: 35vh;
      z-index: 1;
      li{
        list-style-type: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid $red;

        margin: 30px 0;
        text-align: right;
        @include transition(0.3s all ease-in-out);
        p{
          right: 30px;
          margin-top: -4px;
          font-family: Sintony, sans-serif;
          color: #aeaeae;
          font-size: 0.8em;
          position: absolute;
          display: inline-block;
          @include transition(0.3s all ease-in-out);
        }
        &:before{
          content: "";
          width: 2px;
          height: 30px;
          background: $red;
          position: absolute;
          left: 45px;
          margin-top: 11px;
          @include transition(0.3s all ease-in-out);
        }
        &:hover{
          cursor: pointer;
          background: #fff;
          border: 1px solid #fff;
          p{
            color: #efefef;
          }
        }
      }
      li:last-child{
        &:before{
          opacity: 0;
        }
      }
      li.active{
        border-color: #fff;
        width:16px;
        height:16px;
        margin-left: -3px;
        p{
          margin-top: -1px;
          color: #fff;
          font-weight: 700;
          opacity: 1 !important;
        }
        &:before{
          margin-top: 18px;
        }
        &:hover{
          cursor: pointer !important;
          background: #f77363;
          border-color: #fff;
        }
      }
    }
  }

// PAGE SOUS CATEGORIE
.etape{
  @media (max-width: 1260px){
    height: inherit !important;
    .titles{
      margin-top: 90px !important;
      h1{
        font-size: 4.5em !important;
      }
      h2{
        width: 200px !important;
        font-size: 0.8em !important;
        margin-bottom: 20px !important;
      }
    }
    .number{
      margin-top: 10px !important;
      font-size: 8em !important;
    }
    .cards{
      flex-direction: column !important;
      margin-right: 0px !important;
      margin-bottom: 10px !important;
      .card-title{
        font-size: 1em !important;
      }
      .road-card{
        margin-bottom: 20px !important;
      }
      .culture-card{
        margin-bottom: 20px !important;
      }
      .travel-card{
        margin-left: 10px !important;
      }
    }
  }
  background: #f77363 !important;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  .titles{
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    color: $red;

    .number{
      font-family: $sintony;
      font-size: 15em;
      font-weight: 700;
      margin-top: 45px;
    }
    .text{
      display: flex;
      flex-direction: column;
      h1{
        font-family: $rufina;
        font-size: 10em;
        font-weight: 700;
        margin: 0 0 -10px 0;
      }
      h2{
        margin: 0;
        display: inline-block;
        font-family: $sintony;
        font-size: 1em;
        font-weight: 400;
        width: 700px;
      }
    }
  }
  .cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    margin-bottom: 35px;
    .road-card, .culture-card, .travel-card{
      width: 406px;
      height: 270px;
      text-align: center;
      .card-title{
        padding: 8px 0;
        display: inline-block;
        font-family: Sintony, sans-serif;
        font-size: 1.3em;
        color: #f8f8f8;
        width: 100%;
        margin-top: 190px;
      }
    }
    .venise-bg-1{
      background: url('../images/venise-bg-1.jpg') no-repeat;
      background-size: cover;
    }
    .venise-bg-2{
      background: url('../images/venise-bg-2.jpg') no-repeat;
      background-size: cover;
    }
    .venise-bg-3{
      background: url('../images/venise-bg-3.jpg') no-repeat;
      background-size: cover;
    }
    .travel-card{
      margin-left: 10px;
      @include transition(0.3s all ease-in-out);
      &:hover{
        @include transform(scale(1.1));
      }
      .card-title{
          background-color: rgba(12, 60, 74, 0.7);
      }
    }
    .culture-card{
      margin-left: 5px;
      margin-right: 5px;
      @include transition(0.3s all ease-in-out);
      &:hover{
        @include transform(scale(1.1));
      }
      .card-title{
          background-color: rgba(14, 87, 37,0.7);
      }
    }
    .road-card{
      margin-right: 10px;
      @include transition(0.3s all ease-in-out);
      &:hover{
        @include transform(scale(1.1));
      }
      .card-title{
          background-color: rgba(112, 58, 17, 0.7);
      }
    }
  }
  .back{
      position: absolute;
      top: 35px;
      right: 50px;
      font-family: $sintony;
      font-size: 1em;
      font-weight: 400;
      padding: 10px 25px;
      color: $red;
      @include transition(0.3s all ease-in-out);
      &:hover{
        cursor: pointer;
        @include transform(translateX(-10px));
      }
      &:before{
        content: "";
        display: inline-block;
        width: 55px;
        height: 47px;
        background: url(../images/left-arrow.svg) no-repeat;
        background-size: cover;
        position: absolute;
        margin-top: -16px;
        margin-left: -55px;
        @include transform(scale(0.6));
      }
  }
  .border-top{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    background: $red;
    height: 15px;
  }
}
// PAGE ARTICLE
.color-green{
  background-color: #4cb56d !important;
  .article{
  background-color: #4cb56d !important;
  }
  .header-article{
    h1{
      color: #0e5725;
    }
  }
  .back-button{

    h2{
      color: #0e5725;
    }
    div{
        background: url(../images/left-arrowG.svg) no-repeat;
        background-size: cover;
    }
  }
  .article-section{
    h1{
      color: #0e5725;
    }
  }
}
.color-blue{
  background-color: #428598 !important;
  .article{
  background-color: #428598 !important;
  }
  .header-article{
    h1{
      color: #0c3c4a;
    }
  }
  .back-button{

    h2{
      color: #0c3c4a;
    }
    div{
        background: url(../images/left-arrowB.svg) no-repeat;
        background-size: cover;
    }
  }
  .article-section{
    h1{
      color: #0c3c4a;
    }
  }
}
.color-orange{
  background-color: #f7aa66 !important;
  .header-article{
    h1{
      color: #703a11;
    }
  }
  .back-button{

    h2{
      color: #703a11;
    }
    div{
        background: url(../images/left-arrow-road.svg) no-repeat;
        background-size: cover;
    }
  }
  .article-section{
    h1{
      color: #703a11;
    }
  }
}
.article{
  @media (max-width: 1050px){
    .gmaps-text{
      flex-direction: column !important;
      p{
        margin-bottom: 15px !important;
        width: 100% !important;
      }
      #map{
        width: 85% !important;
        height: 300px !important;
      }
    }
    .img-text{
      flex-direction: column !important;
      p{
        margin-top: 15px !important;
        width: 100% !important;
      }
      .img-article{
        height: 350px !important;
      }
    }
    .footer-article{
      flex-direction: column !important;
      .text-footer h1{
        font-size: 1.5em !important;
      }
    }
  }
  width: 80vw;
  margin: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header-article{
    padding: 70px 70px 35px 70px;
    .back-button{
      display: inline-flex;
      flex-direction: row;
      @include transition(all 0.3s ease-in-out);
      padding: 0 15px 0 5px;
      &:hover{
        cursor: pointer;
        @include transform(translateX(-10px));
      }
      h2{
        font-family: $sintony;
        font-size: 1.2em;
        font-weight: 700;
      }
      div{
        width: 60px;
        height: auto;

        @include transform(scale(0.6));
      }
    }
    h1{
      font-family: $rufina;
      font-size: 3em;
      margin: 0;
      font-weight: 700;
    }
    .infos{
      ul{
        display: flex;
        flex-direction: row;
        padding: 0;
        li{
          list-style-type: none;
          margin-right: 35px;
          display:flex;
          flex-direction: row;
          .icon{
            width: 35px;
            height: 50px;
          }
          .architecture{
            background: url(../images/architecture.svg) no-repeat;
            background-size: contain;
          }
          .mountain{
            background: url(../images/mountain.svg) no-repeat;
            background-size: contain;
          }
          .restaurant{
            background: url(../images/restaurant.svg) no-repeat;
            background-size: contain;
          }
          .location{
            background: url(../images/location.svg) no-repeat;
            background-size: contain;
          }
          .locationB{
            background: url(../images/locationB.svg) no-repeat;
            background-size: contain;
          }
          .locationG{
            background: url(../images/locationG.svg) no-repeat;
            background-size: contain;
          }
          h1{
            padding: 10px 0 0 10px;
            font-family: $sintony;
            font-size: 1em;
            font-weight: 400;
          }
        }
      }
    }
  }
  .main-article{
    font-family: $sintony;
    padding: 0 70px 70px 70px;
    .section-1{
      width: 50%;
    }
    .article-section{
      h1{
        font-family: $rufina;
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 40px;
        margin-top: 0;
      }
      .gmaps-text{
        display: flex;
        flex-direction: row;
        p{
          width: 50%;
          font-size: 1em;
          font-weight: 400;
          color: #000;
          line-height:36px;
          margin: 0;
        }
        #map{
          width: 100%;
          padding: 20px;
        }
      }
    }
    h4{
      font-size: 1em;
      color: #000;
      font-weight: 700;
      margin-bottom: 70px;
      margin-top: 40px;
      line-height:36px;
    }
    .section-2{
      p{
        line-height:36px;
      }
      .img-text{
        display: flex;
        flex-direction: row;
        margin-bottom: 35px;
        p{
          width: 50%;
          line-height:36px;
          margin:0;
        }
        .venise-img-1{
          background: url("../images/venise-img-1.jpg") no-repeat;
          background-size: cover;
        }
        .venise-img-2{
          background: url("../images/venise-img-2.jpg") no-repeat;
          background-size: cover;
        }
        .venise-img-3{
          background: url("../images/venise-img-3.jpg") no-repeat;
          background-size: cover;
        }
        .img-article{
          width: 100%;
          height: auto;
          margin-right: 25px
        }
      }
    }
  }
  .footer-article{
    width:100vw;
    display: flex;
    flex-direction: row;
    a{
      text-decoration: none;
      width: 50vw;
    }
    .venise-bg-1{
      background: url('../images/venise-bg-1.jpg') no-repeat;
      background-size: cover;
    }
    .venise-bg-2{
      background: url('../images/venise-bg-2.jpg') no-repeat;
      background-size: cover;
    }
    .venise-bg-3{
      background: url('../images/venise-bg-3.jpg') no-repeat;
      background-size: cover;
    }
    .text-footer{
      padding: 15px 0;
      width:50vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover{
        cursor: pointer;
        h2, h1{
          @include transform(translateX(10px));
        }
      }
      h2{
        font-family: $sintony;
        font-size: 1em;
        font-weight: 400;
        color: #fff;
        @include transition(0.2s all ease-in-out);
      }
      h1{
        margin: 0;
        font-family: $rufina;
        font-weight: 700;
        font-size: 2.3em;
        color: #fff;
        @include transition(0.2s all ease-in-out);
      }
    }
  }
}
